@font-face {
    font-family: adamina;
    src: url('../../../common/fonts/Adamina-Regular.ttf') format('ttf');
}

@font-face {
    font-family: maragsa;
    src: url('../../../common/fonts/maragsa.otf') format('ttf');
}
